.City {
  width: 50%;
  display: inline-block;
  padding: 10px;
}

.City .city-inner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
  position: relative;
  cursor: pointer;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  -moz-box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.25);
}

.City .city-inner:hover {
  opacity: 0.9;
}

.City .city-inner .city-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.City .city-inner .city-overlay .city-name {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  text-align: center;
}

@media (max-width: 900px) {
  .City {
    width: 100%;
  }
}
